.imageCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px,400px));
	grid-gap: 1.0em;
  padding-bottom: 1.0em;
}

.tag {
  margin-right: 5%;
  margin-bottom: 5%;
}