.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
}

.img {
  width: 10%;
  height: 10%;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Tablet */
@media (min-width: 701px) and (max-width: 1120px) {
  .img {
    width: 20%;
    height: 20%;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .img {
    width: 30%;
    height: 30%;
  }
}
